@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-cta: var(--cta);

  --font-sans: var(--font-noto-sans-kr), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-fira-code), ui-monospace, SFMono-Regular, monospace;
}

:root {
  --background: #ECFEFF;
  --foreground: #164E63;
  --primary: #0891B2;
  --secondary: #22D3EE;
  --cta: #22C55E;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-noto-sans-kr), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-noto-sans-kr), sans-serif;
}
